[program:pycsw-collection]
command={{ pycsw_app_current }}/.venv/bin/gunicorn pycsw.wsgi:application --worker-class gevent --bind localhost:8000
directory={{ pycsw_app_current }}
stdout_logfile={{ pycsw_log_path }}/pycsw-collection.log
user=pycsw
autostart={{ datagov_in_service | default(true) }}
autorestart={{ datagov_in_service | default(true) }}
redirect_stderr=true
environment=PYCSW_CONFIG=/etc/pycsw/pycsw-collection.cfg

[program:pycsw-all]
command={{ pycsw_app_current }}/.venv/bin/gunicorn pycsw.wsgi:application --worker-class gevent --bind localhost:8001
directory={{ pycsw_app_current }}
stdout_logfile={{ pycsw_log_path }}/pycsw-all.log
user=pycsw
autostart={{ datagov_in_service | default(true) }}
autorestart={{ datagov_in_service | default(true) }}
redirect_stderr=true
environment=PYCSW_CONFIG=/etc/pycsw/pycsw-all.cfg
