[program:pycsw-collection]
command=/home/pycsw/current/.venv/bin/gunicorn pycsw.wsgi:application --bind localhost:8000
directory=/home/pycsw/current
stdout_logfile=/var/log/pycsw/pycsw-collection.log
user=pycsw
autostart=true
autorestart=true
redirect_stderr=true
environment=PYCSW_CONFIG=/etc/pycsw/pycsw-collection.cfg

[program:pycsw-all]
command=/home/pycsw/current/.venv/bin/gunicorn pycsw.wsgi:application --bind localhost:8001
directory=/home/pycsw/current
stdout_logfile=/var/log/pycsw/pycsw-all.log
user=pycsw
autostart=true
autorestart=true
redirect_stderr=true
environment=PYCSW_CONFIG=/etc/pycsw/pycsw-all.cfg
 
 
